.DS_Store
.~lock*
cpp2sqlite-build/
amiko_db_full_idx_de.db
build/
downloads/
input/zurrose/
json/
output/
xlnt/
scripts/passwords
# Lines starting with '#' will be ignored2
scripts/temp/
input/deepl.sappinfo.in.txt
input/deepl.sappinfo.err.fr.txt
