[submodule "ean13"]
	path = src/c2s/ean13
	url = https://github.com/ywesee/BarcodeGenerator.git

[submodule "json"]
	path = json
	url = https://github.com/nlohmann/json.git

[submodule "xlnt"]
	path = xlnt
	url = https://github.com/tfussell/xlnt.git
